{% extends 'base.html' %}
{% load static %}
{% load fontawesome_5 %}
{% fontawesome_5_static %}
{% block content %}
    <table class="table table-info">
    <br>
         <h3 class="rounded-pill text-center text-bg-primary"> Input Product </h3>
    <form  method="post" class="form-control">
        {% csrf_token %}
        {{ form.as_table }}
            <tr>
            <td colspan="2" class="text-center">
                <input type="submit" value="Save" class="btn btn-success">
                <input type="reset" value="Reset" class="btn btn-danger">
            </td>
        </tr>
    </form>
        </table>
{% endblock %}