{% extends 'base.html' %}
{% load static %}
{% load fontawesome_5 %}
{% fontawesome_5_static %}
{% block content %}

    <h2 class="text-center text-primary bg-light">New Product Normal</h2>
    <table class="table table-info">
    <form  method="post" class="form-control">
        {% csrf_token %}
        <tr>
            <td>Product ID</td>
            <td><input type="text" name="pid" size="15" maxlength="13" required="required"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" name="name" size="55" maxlength="50" required="required"></td>
        </tr>
        <tr>
            <td>Type</td>
            <td><input type="text" name="type" maxlength="30" required="required"></td>
        </tr>
        <tr>
            <td>Color</td>
            <td><input type="text" name="color" maxlength="30" required="required"></td>
        </tr>
        <tr>
            <td>Brand</td>
            <td><input type="text" name="brand" maxlength="30" required="required"></td>
        </tr>
        <tr>
            <td>Price</td>
            <td><input type="number" name="price" size="10" min="1" max="150000" required="required"></td>
        </tr>
        <tr>
            <td>Vat</td>
            <td><input type="number" name="vat" size="10" min="0" max="150000" required="required"></td>
        </tr>
        <tr>
            <td>Discount</td>
            <td><input type="number" name="discount" size="10" min="0" max="150000" required="required"></td>
        </tr>
        <tr>
            <td>Total</td>
            <td><input type="number" name="total" size="10" min="0" max="150000" required="required"></td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <input type ="submit" value="save" class="btn btn-success">
                <input type ="reset" value="reset" class="btn btn-danger">
            </td>
        </tr>
    </form>
    </table>
{% endblock %}
