{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
{% block content %}
    <figure>
        <blockquote class="blockquote">
            <p>อาชีพที่ใฝ่ฝันในอนาคต</p>
        </blockquote>
        </figcaption>
    </figure>

   <div class="row">
   <br>
  <div class="col-lg-6"><img src="{% static 'images/pp.jpg' %}" class="img-thumbnail" alt="..." width="400px" height="350px"></div>
  <div class="col-lg-6">
      <p class="fs-3">Programmer : โปรแกรมเมอร์ <br> </p>
      <p class="fs-4">เงินเดือนเริ่มต้นเด็กจบใหม่ : 14,000 บาท  </p>
      <p class="fs-4">เงินเดือนสูงสุดเด็กจบใหม่ : 40,000 บาท  </p>
  </div>
</div>
<br>
   <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">ข้อดีของสายงานโปรแกรมเมอร์</h5>
        <p class="card-text">มีเงินเดือนที่ค่อนข้างสูง <br> มีอิสระในการทำงาน  <br> ทำให้คิดเป็นระบบ <br>  ฝึกการแก้ปัญหาอย่างเป็นระบบ <br>   ความสนุกในการคิดค้นสิ่งใหม่ ๆ <br></p>

      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">ข้อเสียของสายงานโปรแกรมเมอร์</h5>
        <p class="card-text"> ความกดดันค่อนข้างสูง <br> แบกรับภาระหลายอย่างคนเดียว <br> ความเครียดจากปัญหาที่เกิดขึ้นในระหว่างการทำงาน</p>
      </div>
    </div>
  </div>
       <br>
       <br>
   <div class="row">
  <div class="col-4"><br>
    <div id="list-example" class="list-group">
      <a class="list-group-item list-group-item-action" href="#list-item-1">ลักษณะงาน</a>
      <a class="list-group-item list-group-item-action" href="#list-item-2">ขั้นตอนการทำงาน</a>
      <a class="list-group-item list-group-item-action" href="#list-item-3">สถานที่ทำงาน</a>
      <a class="list-group-item list-group-item-action" href="#list-item-4">ผู้ที่ต้องการทำงานด้วย</a>
    </div>
  </div><br>
  <div class="col-8"><br>
    <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
      <h4 id="list-item-1">ลักษณะงาน</h4>
      <p> คอมพิวเตอร์โปรแกรมเมอร์ ทำหน้าที่รับรายละเอียดของความต้องการของผู้ใช้งานจากนักวิเคราะห์ระบบ (System Analyst)
          แล้วจัดทำแผนขั้นตอนการทำงาน (Flow Chart) ที่ละเอียดและถูกต้อง
          เพื่อประโยชน์ในการเขียนโปรแกรมสำหรับการประมวลผลด้วยคอมพิวเตอร์ คอมพิวเตอร์โปรแกรมเมอร์
          ทำหน้าที่ร่วมกันกับนักพัฒนาซอฟต์แวร์ และในบางบริษัทหน้าที่งานทั้งสองมีความเกี่ยวพันกัน
          ซึ่งพวกเขาสามารถทำงานในด้านการพัฒนาได้เช่นกัน ตัวอย่างเช่น การออกแบบโปรแกรม
          การพัฒนาซอฟต์แวร์ที่นับตั้งแต่การสร้างต้นแบบ แผนภูมิแสดงรายละเอียดการเขียนรหัสต่างๆ
          เขียนและปรับปรุงรหัส และการออกแบบแอพพลิเคชั่นหรือระบบติดต่อประสานงานอื่นๆ
          โปรแกรมที่ถูกสร้างมีจุดประสงค์เพื่อจัดการรหัสคอมพิวเตอร์ที่มีความซับซ้อน
          โดยโปรแกรมที่ใช้ในการเขียนแอพพลิเคชั่นในมือถือมีจะมีความซับซ้อนน้อยกว่าเครือข่ายอื่นๆ
          ซึ่งระยะเวลาการทำงานในโปรแกรมที่ง่ายอาจใช้เวลาอันสั้น แต่สำหรับโปรแกรมที่มีความซับซ้อน
          เช่น ระบบคอมพิวเตอร์ อาจใช้เวลานานเป็นปีหรือมากกว่านั้น</p>
      <h4 id="list-item-2">ขั้นตอนการทำงาน</h4>
      <p>
        <ul>
        <li>ทำความเข้าใจวัตถุประสงค์ในการทำงานของโปรแกรม และวางแผนโดยเขียนแผนภาพ ขั้นตอนของโปรแกรมโดยละเอียด</li>
        <li>เขียนโปรแกรมด้วยภาษาทางคอมพิวเตอร์ต่างๆ เช่น ภาษา C++ ภาษา Java  </li>
        <li>อัพเดทและพัฒนาขยายโปรแกรม</li>
        <li>ทดสอบโปรแกรมและแก้ไขปัญหาหรือข้อบกพร่องที่เกิดขึ้น</li>
        <li>สร้างและทดสอบรหัสในการพัฒนาระบบคอมพิวเตอร์</li>
    </ul>
      </p>
      <h4 id="list-item-3">สถานที่ทำงาน</h4>
      <p>  โดยปกติคอมพิวเตอร์โปรแกรมเมอร์มักจะทำงานประจำอยู่ใน office สำนักงาน หรือเป็นโปรแกรมเมอร์อิสระ
          ก็จะสามารถทำงานที่ไหนก็ได้ เพียงแค่มีคอมพิวเตอร์ให้เขียนโปรแกรม และมีอินเตอร์เน็ตในการติดต่อประสานงานเท่านั้น </p>
      <h4 id="list-item-4">ผู้ที่ต้องการทำงานด้วย</h4>
      <p>
          <ul>
        <li>โปรแกรมเมอร์ร่วมทีม ในการสร้างโปรแกรมแต่ละครั้งอาจมีขนาดงานที่ใหญ่เกินกว่าโปรแกรมเมอร์คนหนึ่งจะแบกรับไว้ได้
            ผู้ร่วมทีมจะช่วยประสานและแบ่งงานกันให้ภารกิจเสร็จลุล่วงได้อย่างถูกต้อง ทันเวลา</li>
        <li>Business Analyst ทำหน้าที่ประสานงานและรับโจทย์จากลูกค้าหรือผู้บริหารที่ต้องการโปรแกรมคอมพิวเตอร์
            แล้วนำมาถ่ายทอดส่งต่อให้ทีมโปรแกรมเมอร์ดำเนินการ</li>
        <li>System Analyst  ช่วยทำหน้าที่จัดสรรและกระจายงานต่าง ๆ ไปให้โปรแกรมเมอร์ในทีม สร้างสรรค์โปรแกรมตามความถนัดและตามโจทย์ที่ได้รับจาก Business Analyst  โดย System Analyst
            ต้องมีความรู้และเข้าใจระบบการทำงานของโปรแกรมเมอร์ เพื่อจะสามารถบริหารงานได้อย่างราบรื่น </li>
        <li>Graphic Designer งานโปรแกรมที่เราเห็นสวยงามได้ ไม่ได้เกิดขึ้นจากการเขียน Code จากโปรแกรมเมอร์เพียงอย่างเดียว
            แต่ต้องรวมองค์ประกอบจากเนื้อหาและงานภาพที่สวยงามจากการออกแบบของ Graphic Designer ด้วย </li>
    </ul>
      </p>
    </div>
  </div>
</div>
</div>
    <br>
    <div class="container text-center bg-info text-white fs-4">
        <div class="row">
            <div class="col">
                ผู้จัดทำเว็บไซต์ <br>
                นางสาววรรณดา เมฆจินดา 65342310197-3 BIS3R2
            </div>
        </div>
    </div>

{% endblock %}