{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
{% block content %}
   <div class="container text-center">
        <div class="row">
            <div class="col text-center">
                <br>
                <img src="{% static 'images/Dennis_Ritchie_2011.jpg' %}" width="250px" height="250">
                <br><br>
                <div class="card" style="width: 27rem;">
                    <div class="card-body">
                        <h5 class="card-title">รางวัลทัวริง</h5>
                        <p class="card-text">ริตชีและทอมป์สันได้รับรางวัลทัวริงร่วมกันเมื่อ พ.ศ. 2526 สำหรับการพัฒนาทฤษฎีของระบบปฏิบัติการทั่วไป <br>
                            และโดยเฉพาะสำหรับการนำมาใช้เป็นระบบปฏิบัติการยูนิกซ์ การปราศรัยรางวัลทัวริงของริตชีมีหัวเรื่องว่า<br>
                            "ผลสะท้อนบนการวิจัยซอฟต์แวร์" <br>(Reflections on Software Research)<br></p>
                    </div>
                </div>
                <br>
                <div class="card" style="width: 27rem;">
                    <div class="card-body">
                        <h5 class="card-title">เหรียญรางวัลเทคโนโลยีแห่งชาติ</h5>
                        <p class="card-text">เมื่อวันที่ 21 เมษายน พ.ศ. 2542 ริตชีและทอมป์สันได้รับเหรียญรางวัล <br>
                            เทคโนโลยีแห่งชาติ 1998 ร่วมกันจากประธานาธิบดี บิล คลินตัน <br> สำหรับการร่วมกันประดิษฐ์ระบบปฏิบัติการยูนิกซ์และภาษาซี <br>
                            ซึ่งนำไปสู่ความก้าวหน้าอันยิ่งใหญ่ในเรื่องฮาร์ดแวร์ซอฟต์แวร์และระบบเครือข่ายคอมพิวเตอร์ <br>
                            และกระตุ้นความเจริญให้กับอุตสาหกรรมทั้งวงการทำให้อเมริกามีความเป็นผู้นำมากขึ้นในยุคสารสนเทศ<br></p>
                    </div>
                </div>
            </div>

            <div class="col">
                <br>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ชื่อ-นามสกุล </th>
                        <td>Dennis Ritchie (เดนนิส ริตชี)</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>เกิด </th>
                        <td>9 กันยายน ค.ศ. 1941</td>
                    </tr>
                    <tr>
                        <th>เสียชีวิต</th>
                        <td>12 ตุลาคม ค.ศ. 2011 (70 ปี)</td>
                    </tr>
                    <tr>
                        <th>สัญชาติ </th>
                        <td>สหรัฐ</td>
                    </tr>
                    <tr>
                        <th>พลเมือง </th>
                        <td>สหรัฐ</td>
                    </tr>
                    <tr>
                        <th>ศิษย์เก่า </th>
                        <td>มหาวิทยาลัยฮาร์วาร์ด</td>
                    </tr>
                    <tr>
                        <th>มีชื่อเสียงจาก </th>
                        <td>ALTRAN ,ภาษาบี ,BCPL , ภาษาซี , มัลติกส์ ,ยูนิกซ์</td>
                    </tr>
                    <tr>
                        <th>รางวัล </th>
                        <td>	รางวัลทัวริง เหรียญรางวัลเทคโนโลยีแห่งชาติอาชีพทางวิทยาศาสตร์</td>
                    </tr>
                    <tr>
                        <th>สาขา</th>
                        <td>วิทยาการคอมพิวเตอร์</td>
                    </tr>
                    <tr>
                        <th>สถาบันที่ทำงาน</th>
                        <td>ลูเซนต์เทคโนโลยีส์ (Lucent Technologies) เบลล์แลบส์ (Bell Labs)</td>
                    </tr>
                    </tbody>
                </table>
                <div class="card" style="width: 27rem;">
                    <div class="card-body">
                        <h5 class="card-title">ผลงานหนังสือ</h5>
                        <p class="card-text">เดอะซีโปรแกรมมิงแลงกวิจ (The C Programming Language), 1978 (แต่งร่วมกับไบรอัน เคอร์นิกัน) <br>
                        ยูนิกซ์โปรแกรมเมอร์สแมนวล (Unix Programmer's Manual), 1971 <br></p>
                    </div>
                </div>

            </div>
        </div>
        </div>
   </div>
    <br>
    <div class="container text-center bg-info text-white fs-4">
        <div class="row">
            <div class="col">
                ผู้จัดทำเว็บไซต์ <br>
                นางสาววรรณดา เมฆจินดา 65342310197-3 BIS3R2
            </div>
        </div>
    </div>
{% endblock %}