{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
{% block content %}
    <br>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/pro2.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5>หูฟัง JBL Live Pro 2 True Wireless  <span class="badge bg-danger">New</span></h5>
            <p class="card-text">ประเภทหูฟัง : หูฟังทรูไวเลส <br>มีสาย/ไร้สาย : ไร้สาย
            ไมโครโฟน : มีไมค์<br> ระดับการกันน้ำ : IPX5<br> คุณสมบัติพิเศษ : ระบบสัมผัส
            Bluetooth Version : 5.2  <br>ANC : มี <br>การกันน้ำ : กันน้ำ <br>พอร์ตการชาร์จ : USB-C <br>
            อิมพีแดนซ์ : 16 Ω <br>การตอบสนองความถี่ : 20 – 20,000 Hz <br>แบตฯสูงสุด : 10 ชม.</p>
            <a href="#" class="btn btn-primary text-center">5,290 ฿</a>
        </div>
    </div>
  </div>
    <div class="col">
        <div class="card h-100">
            <img src="{% static 'images/sony.jpg' %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">หูฟังไร้สาย Sony WF-1000XM4 True Wireless</h5>
                <p class="card-text">ไมโครโฟน : มีไมค์ <br>
                ระดับการกันน้ำ : IPX4
                คุณสมบัติพิเศษ : Hear Through, ระบบสัมผัส, สั่งการด้วยเสียง, เคสรองรับการชาร์จไร้สาย, การตรวจจับการสวมใส่<br>
                Bluetooth Version : 5.2<br>
                ANC : มี<br>
                การกันน้ำ : กันน้ำ<br>
                พอร์ตการชาร์จ : USB-C<br>
                รูปแบบหูฟัง : หูฟัง True Wireless<br>
                แบตฯสูงสุด : 8 ชม.<br>
                CODEC ที่รองรับ : LDAC<br></p>
                <a href="#" class="btn btn-primary text-center">6,990 ฿</a>
            </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static 'images/shokz.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">หูฟัง Shokz OpenRun Pro Sport Headphone</h5>
        <p class="card-text">ประเภทหูฟัง : หูฟังนำเสียงผ่านกระดูก<br>
        มีสาย/ไร้สาย : ไร้สาย<br>
        การเชื่อมต่อหูฟัง (Input) : บลูทูธ<br>
        Bluetooth Version : 5.1<br>
        ไมโครโฟน : มีไมค์<br>
        ระดับการกันน้ำ : IP55<br>
        เหมาะสำหรับ : ออกกำลังกาย<br></p>
          <a href="#" class="btn btn-primary text-center">6,050 ฿</a>
      </div>
    </div>
  </div>
</div>

<br>
    <div class="container text-center bg-info text-white fs-4">
        <div class="row">
            <div class="col">
                ผู้จัดทำเว็บไซต์ <br>
                นางสาววรรณดา เมฆจินดา 65342310197-3 BIS3R2
            </div>
        </div>
    </div>
{% endblock %}